<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/bootstrap")


</head>
<body class="fixed-sidebar fixed-nav fixed-nav-basic">

<div id="wrapper">
    
    
    <nav class="navbar-default navbar-static-side" role="navigation">
    
            @Html.Partial("_SideMenu")
          
</nav>
    
    

    <div id="page-wrapper" class="gray-bg" style="background-color:#d5dbe5">
        <div class="row border-bottom">
            <nav class="navbar navbar-fixed-top"role="navigation" style="margin-bottom: 0"> <!---- Fixed Top Nav ----->
                @*<div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                  
                </div>*@
                @Html.Partial("_TopNavigation")
            </nav>
        </div>


        <div class="wrapper wrapper-content">
            @RenderBody()
        </div>
        @Html.Partial("_Footer")
    </div>

</div>
 
@Scripts.Render("~/bundles/applicationplugins")





@RenderSection("scripts", false)
</body>
</html>