@model BlueCrystalSchool.Areas.CoursSoutiens.Models.CSEnseignant

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CSEnseignant</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Palier.NomPalier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Palier.NomPalier)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prenom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateNaissance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateNaissance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommuneNaissance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommuneNaissance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adresse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoursSoutien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoursSoutien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoursParticuliers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoursParticuliers)
        </dd>
        
        <dt>Liste des matieres</dt>
        
        
            @foreach (var item in Model.CSMatieres)
            {
                <dd>
                    @item.NomMatiere
                </dd>
            }
        

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
