@model BlueCrystalSchool.Areas.CoursSoutiens.Models.CSNiveauScolaire

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CSNiveauScolaire</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Filiere.Abreviation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Filiere.Abreviation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Palier.NomPalier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Palier.NomPalier)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Niveau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Niveau)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
