@model BlueCrystalSchool.Areas.EtablissementPrive.Models.EPNiveauScolaire

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>EPNiveauScolaire</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Filiere.Abreviation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Filiere.Abreviation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Palier.NomPalier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Palier.NomPalier)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Niveau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Niveau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FraisInscription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FraisInscription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TarifPaiementAnnuel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TarifPaiementAnnuel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TarifPaiementTroisTranches)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TarifPaiementTroisTranches)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TarifPaiementMensuel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TarifPaiementMensuel)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
