@model BlueCrystalSchool.Areas.EtablissementPrive.Models.EPClasse

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>EPClasse</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EPNiveauScolaire.Niveau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EPNiveauScolaire.Niveau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomClasse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomClasse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomSalle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomSalle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreMaxEleves)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreMaxEleves)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombrePlacesDisponibles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombrePlacesDisponibles)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
