@model BlueCrystalSchool.Areas.EtablissementPrive.Models.EPEnseignant

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>EPEnseignant</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Palier.NomPalier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Palier.NomPalier)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prenom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateNaissance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateNaissance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommuneNaissance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommuneNaissance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonneCoursSoutien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonneCoursSoutien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonneCoursParticulier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonneCoursParticulier)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
